* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
