.message-reply-input {
    margin-inline-start: 20px;
    padding: 20px 10px;
    box-shadow: 1px 1px 3px #000000;
    width: fit-content;
}

.message-reply-input__reply {
    margin-bottom: 10px;
}

.message-reply-input__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 8px;
}
